
:root {
    --hero-font1: #395341;
    --hero-background: antiquewhite;
    --activities-background: #343242;
    --activities-font1: antiquewhite;
    --card-section-background: papayawhip;
}

* {
    margin: 0px;
}


/*Used to make divs stand out more: delete before submitting*/
div {
 border: 1px solid red;   
}



body { 
    min-width: 1300px;
    font-family: 'Dosis', sans-serif;
    background-color: #ECE9E9;
    color: var(--hero-font1);
    
    
}

/*Hero section */
.hero-section {
    display: flex;
    background-color: var(--hero-background);
    margin: auto;
    justify-content: center;
}   

.welcome-text {
    padding: 20px;
    text-align: center;
    margin: auto;
    
}

.hero-text hr {
   border: 3px solid; 
}

.welcome-sub-text {
    padding: 40px;
    text-align: center;
    margin: auto;
}

.hero-photo {
display: flex;
height: 500px;
object-fit: cover;
border: 5px solid #727272;

}

/*Activities section*/

.activities {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--activities-background);
    color: var(--activities-font1);
    margin: auto;
    padding: 30px;
    align-items: center;
    
    
}

.activities p {
    text-align: center;
}



.activity-1, .activity-2 {
    border-right: 3px solid white;
}

.activities p {
    padding: 10px;
    margin: auto;
}

.activities img {
    width: 400px;
    height: 300px;
    display: flex;
    margin: auto;
}

/* Guide card section */

.card {
    display: flex;
}

#card-section {
    height: 500px;
    background-color: var(--card-section-background);
    justify-content: center;
}

#card-proper {
    margin: auto;
    height: 300px;
    width: 600px;
    
}

#my-info {
    margin: auto;
    text-align: center;
    padding: 10px;
}

.card #info-text {
    padding: 20px;
}