
:root {
    --hero-font1: #395341;
    --hero-background: antiquewhite;
    --activities-background: #343242;
    --activities-font1: antiquewhite;
    --card-section-background: papayawhip;
}

body { 
    min-width: 1400px;
    font-family: 'Dosis', sans-serif;
    background-color: #ECE9E9;
    color: var(--hero-font1);
    margin: 0px;
    
}

/*Hero section */
.hero-section {
    display: flex;
    background-color: var(--hero-background);
    margin: auto;
}   

.hero-text {
    padding: 20px;
    text-align: center;
    margin: auto;
    
}

.hero-text hr {
   border: 3px solid; 
}

.welcome-sub-text {
    padding: 40px;
    text-align: center;
    margin: auto;
}

.hero-photo {
display: flex;
height: 600px;
object-fit: fill;
border: 5px solid #727272;
}

/*Activities section*/

.activities {
    display: flex;
   justify-content: space-around;
   align-content: center;
    background-color: var(--activities-background);
    color: var(--activities-font1);
}

#activity-2, #activity-3 {
    border-left: 3px solid white;
   
}

.activities-description {
    padding: 10px;
    text-align: center;
}

.activities img {
    width: 400px;
    height: 300px;
    display: flex;
    margin: auto;
}

/* Guide card section */

.card {
    display: flex;
    border: 1px solid navy;
    border-radius: 10px;
}

#card-section {
    height: 500px;
    background-color: var(--card-section-background);
    justify-content: center;
}

#card-proper {
    margin: auto;
    height: 400px;
    width: 700px;
    overflow: hidden;
    
}

#my-info {
    margin: auto;
    text-align: center;
    padding: 10px;
}

.card #info-text {
    padding: 20px;
}