:root {
    --hero-font1: #2B633B;
    --activities-font1: antiquewhite;
}

* {
    min-width: 200px;
}



div {
    border: solid 1px red;
}



body { 
    
    font-family: 'Dosis', sans-serif;
    background-color: #ECE9E9;
    color: var(--hero-font1);
    text-align: center;
    margin: 0px;
}

.hero-section {
    display: inline-flex;
    justify-content: center;
}

.welcome-text {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 30px;
}

.welcome-sub-text {
    padding: 20px;
}

.hero-photo {
display: flex;
height: 500px;
object-fit: cover;
border: 5px solid gray;
margin-left: auto;
margin-right: auto;
}

.activities {
    display: flex;
    background-color: #636ff8;
    color: var(--activities-font1);
    width: 100%;
    margin-top: 30px;
}

